:root {
  --main-color: #006d77;
  --secondary-color: #83c5be;
  --neutral-color: #edf6f9;

  --main-color-highlight: #008996;
  --secondary-color-highlight: #8edad2;

  --delete-color: #c20000;
}

body,
html {
  font-family: "Fira Sans";
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--neutral-color);
}

#container {
  height: 100%;
  background-color: var(--neutral-color);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
}

.banner {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);

  padding: 10px;
  align-self: end;

  grid-column: 1 / -1;
  grid-row: 1;
}

.sidebar {
  padding-top: 50px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 2.5rem;
}

.project-item {
  border-left: 10px solid var(--main-color);
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-item:hover {
  border-left: 10px solid var(--main-color-highlight);
  background-color: var(--secondary-color-highlight);
}

.project-item:active {
  background-color: var(--secondary-color);
}

.project-item.active-project {
  font-size: 1.1rem;
  font-weight: bold;
}

#add-project {
  padding-left: 10px;
}

#add-project:hover {
  padding-left: 0;
  border-left: 10px solid var(--main-color-highlight);
  background-color: var(--secondary-color-highlight);
}

#add-project:active {
  background-color: var(--secondary-color);
}

.project-delete {
  padding: 0 10px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
}

.project-delete:hover {
  color: var(--delete-color);
}

.project-name-input {
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
